.head{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.bighead{
    font-size: 36px;
    font-weight: 1000;
}

#coordinateTIP{
    width: 23em;
}

.dropdownForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headAdders {
    margin-top: 25px;
}

#inputDiv{
    text-align: center;
}

#addGreenGarden {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1rem 10px 10px;
}
#addGreenM2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1rem 10px 10px;
}

.inputField {
    width: auto;
    text-align: center;
}

input{
    width: 19.5em;
}

.submitButton{
    margin-top: 5px;
    width: 7em;
    box-shadow: 2px 2px rgba(0,0,0,.7);
}

select{
    width: 20em;
    text-align: center;
}

#counter {
    font-size: 10rem;
    background-color: green;
}

#add-object-map{
    display: flex;
    justify-content: center;
    height: 50em;
    width: 120em;
    margin-top: 5em;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.addButton{
    background-color: green;
    border-color: green;
    color: white;
}

.addButton:hover{
    background-color: lightgreen;
    border-color: green;
    color: black;
}

.removeButton{
    background-color: red;
    border-color: red;
    color: white;
}

.removeButton:hover{
    background-color: lightsalmon;
    border-color: red;
    color: black;
}

/*map responsiveness*/
@media screen and (max-width: 1270px) {
    #add-object-map{
        width: 90em;
    }
}
@media screen and (max-width: 993px) {
    #formContainer{
        flex-direction: column;
    }

    #add-object-map{
        height: 30em;
        width: 55em;
    }

}
@media screen and (max-width: 425px) {
    #add-object-map{
        height: 53em;
        width: 30em;
        margin-left: 40px;
        margin-right: 0px;
    }
}