.head{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.bighead{
    font-size: 36px;
    font-weight: 1000;
}

.dropdownForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formContainer{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headAdders {
    margin-top: 25px;
}

#inputDiv{
    text-align: center;
}

#addGreenGarden {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1rem 10px 10px;
}
#addGreenM2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -1rem 10px 10px;
}

.inputField {
    width: auto;
    text-align: center;
}

input{
    width: 19.5em;
}

.submitButton{
    margin-top: 5px;
    width: 7em;
}

select{
    width: 20em;
    text-align: center;
}

#counter {
    font-size: 10rem;
    background-color: green;
}