@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
.topDashboard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.progress-bar-container {
    display: flex;
    flex-direction: row;
    margin: 8px;
    padding: 8px;
    border-radius: 13px;
    border: 1px solid #efefef;
    /*box-shadow: 4px 4px 1px 1px #ababab;*/
    background-color:#ffffff;
    width: 220px;
    height: 100px;
}

.circle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
}

.progress-circle-background {
    /* width = container's size (200px) - ( 2 * svg's stroke-width (24px) ) .
          Increase a little bit */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 0 12px #058C42;
    opacity: 50%;
    position: absolute;
    /* To center it inside the container.
          margin = ( container's size - the width and height's size ) / 2
          */
    margin: 10px;
    background-color: transparent;
    z-index: 2;

}

.progress-circle {
    width: 72px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: transparent;
    /* To start the svg circle from the top */
    transform: rotate(-90deg);
    /* To center it inside the container */
    position: absolute;
    margin: 5px;
}

.progress-circle svg circle {
    /* stroke-dasharray = 2 * (22/7) * 36 */
    stroke-dasharray: 226;
}
.picture-in-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 1;

}
.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 100px;
    height: 50px;
    margin-top: 25px;
    line-height: 0.5;
    margin-left: 0.9rem;
}

.information-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.graph-box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 8px;
    border-radius: 13px;
    border: 1px solid #efefef;
    /*box-shadow: 4px 10px 1px 1px #ababab;*/
    background-color:#ffffff;
    width: 50rem;
    height: 35rem;
}

.information-box{
    margin: 10px;
    padding: 8px;
    border-radius: 13px;
    border: 1px solid #efefef;
    /*box-shadow: 4px 5px 1px 1px #ababab;*/
    background-color:#ffffff;
    width: 21.4rem;
    height: 35rem;
}

.grey-text{
    background-color: #ffffff;
    color: #737373;
}

.green-text{
    color:#058C42;
    background-color: #ffffff;
    font-size: 20px;
}

svg:not(:root) {
    overflow: visible;
    background-color: transparent;
}