img{
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.footer-container{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}

.footer-top{
    display: flex;
}

.container-vragen{
    display: flex;
}

.footer-bottom{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.samenwerkingen-box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}