@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
    font-family: 'Open Sans', serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e7e7e7;
}

.pTitle{
    font-size: 50px;
}

.topDashboard{
    display: flex;
    flex-direction: row;
}
.circleContainer {
    display: flex;
    flex-direction: row;
    margin: 16px;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #efefef;
    box-shadow: 8px 10px 1px 1px #ababab;
    background-color:#ffffff;
    width: 400px;
    height: 200px;
}

.circleBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 160px;
    height: 160px;
    background-color: #ffffff;
}

.background-circle {
    /* width = container's size (200px) - ( 2 * svg's stroke-width (24px) ) .
          Increase a little bit */
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 1px 1px 0 24px #058C42;
    opacity: 60%;
    position: absolute;
    /* To center it inside the container.
          margin = ( container's size - the width and height's size ) / 2
          */
    margin: 21px;
    background-color: transparent;
    z-index: 2;

}

.foreground-circle {
    width: 144px;
    height: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: transparent;


    /* To start the svg circle from the top */
    transform: rotate(-90deg);

    /* To center it inside the container */
    position: absolute;
    margin: 10px;
}

.foreground-circle svg circle {
    /* stroke-dasharray = 2 * (22/7) * svg's radius value */
    stroke-dasharray: 453;
}
.pictureInsideCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 1;

}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 200px;
    height: 100px;
    margin: 25px;
}

.informatieContainer{
    display: flex;
    flex-direction: row;
}
.bigBox{
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #efefef;
    box-shadow: 8px 10px 1px 1px #ababab;
    background-color:#ffffff;
    width: 1500px;
    height: 750px;

}


.mediumBox{
    margin: 20px;
    padding: 16px;
    border-radius: 25px;
    border: 1px solid #efefef;
    box-shadow: 8px 10px 1px 1px #ababab;
    background-color:#ffffff;
    width: 500px;
    height: 750px;
}
.greyParagraph{
    background-color: #ffffff;
    color: #737373;

}
.greenNumber{
    color:#058C42;
    background-color: #ffffff;
    font-size: 40px;
}

/* To prevent svg border being cut off and keep picture visibile*/
svg:not(:root) {
    overflow: visible;
    background-color: transparent;
}
